<app-header></app-header>

<div style="background-color: rgb(55, 55, 55);">

    <div class="container p-5">

        <div class="row mt-3">
            <app-principal-table></app-principal-table>
        </div>

        <div class="row mt-3">
            <app-new-record-modal></app-new-record-modal>
        </div>

        <div class="container p-4 mt-5" style="width: 400px;">
            <app-positive-balance></app-positive-balance>
        </div>

    </div>

</div>

<app-footer></app-footer>